{% extends 'base.html' %}

{% block title %}Customer List{% endblock %}

{% block content %}

<h1>Customers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <td><a href="/{{ customer.id }}/">{{ customer.fullName }}</a></td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.notes }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
